/*smart phones & tablets*/
@media (min-width:481px) and (max-width:767px){
    .carousel-inner {
        overflow: visible;
    }
    .new_feat_icon {
        width: 20px;
    }
    .new_feautre_body_data {
        padding-bottom: 40px;
    }
    .section_des {
        font-size: 20px;
    }
    #new_feautre {
        height: 500px;
        background-image: url("../image/new_feature.png");
    }
    .new_feautre_body_data {
        height: 180px;
    }
    .section_descr {
        font-size: 12px;
    }
    .new_desgin_caption_image {
        width: 300px;
    }
    .client-descripation {
        font-size: 10px;
    }
    .section_desc {
        font-size: 10px;
    }
    #new_feautre_second .carousel-caption {
        height: 280px;
    }
    .client_image div img {
        width: 40px;
        height: 40px;
    }
    .client_name {
        padding-top: 0px;
        font-size: 10px;
    }
    .client_image {
       padding: 0px;
       padding-bottom: 10px;
    }
    .client_body {
        height: 270px;
    }
    .client_body_data div {
        margin-left: 20px;
    }
    .client-box {
        margin-left: 0px;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    .new_feature_site img {
        width: 200px;
    }
    .try_body {
       padding-top: 0px;
    }
    #client {
        height: 450px;
        background-image: url("../image/client.png");
    }
    #try {
        height: 450px;
        background-image: url("../image/try.png");
    }
    #try .carousel-caption {
        height: 200px;
        padding-bottom: 150px;
    }
    .try_body input {
        margin-top: 8px;
        height: 25px;
    }
    .footer_cloumn_dec input { 
        margin-top: 5px;
    }
    footer {
        height: 300px;
    }
    .footer_body {
        margin-top: 150px;
        height: 110px;
    }
    .footer_cloumn_title {
        font-size: 18px;
    }
    .footer_cloumn_dec {
        font-size: 10px;
    }
    .footer_icon a{
        display: block;
    }
}
@media (min-width:768px) and (max-width:890px){ 
    .new_feautre_body_data {
        padding-bottom: 50px;
    }
    .new_feautre_body_data {
        height: 260px;
    }
    .new_feat_icon {
        width: 30px;
    }
    .section_des {
        font-size: 17px;
    }
    .section_descr {
        font-size: 11px;
    }
    .new_desgin_caption_image {
        width: 390px;
    }
    #new_feautre {
        height: 500px;
        background-image: url("../image/new_feature.png");
    }
    .new_feautre_body_data {
        height: 180px;
    }
    .client-descripation {
        font-size: 12px;
    }
    .new_feautre_body {
        padding: 0px;
    }
    .client_image div img {
        width: 50px;
        height: 50px;
    }
    .client_name {
        padding-top: 10px;
        font-size: 15px;
    }
    .client-descripation {
        font-size: 10px;
    }
    .client_image {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .client_body_data div {
        margin-left: 20px;
    }
    .client-box {
        margin-left: 0px;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    .new_feature_site img {
        width: 300px;
    }
    .try_body {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .try_body input {
        margin-top: 5px;
    }
    #try {
        height: 450px;
        background-image: url("../image/try.png");
    }
    #try .carousel-caption {
        height: 200px;
        padding-bottom: 150px;
    }
    .footer_cloumn_dec input { 
        margin-top: 5px;
    }
    footer {
        height: 300px;
    }
    .footer_body {
        margin-top: 150px;
        height: 150px;
    }
    .footer_cloumn_dec {
        font-size: 10px;
    }
}
/*small screen*/
@media (min-width:891px) and (max-width:991px){
    .new_feautre_body_data {
        padding-bottom: 100px;
    }
    .section_des {
        font-size: 20px;
    }
    .section_descr {
        font-size: 12px;
    }
    .new_desgin_caption_image {
        width: 500px;
    }
    .client-descripation {
        font-size: 12px;
    }
    .client_image div img {
        width: 50px;
        height: 50px;
    }
    .client_name {
        padding-top: 10px;
    }
    .client_image {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .client_body_data div {
        margin-left: 20px;
    }
    .client-box {
        margin-left: 0px;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    .new_feature_site img {
        width: 300px;
    }
    .try_body {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .try_body input {
        margin-top: 12px;
    }
    .footer_cloumn_dec input { 
        margin-top: 5px;
    }
    footer {
        height: 300px;
    }
    .footer_body {
        margin-top: 150px;
        height: 150px;
    }
    .footer_cloumn_dec {
        font-size: 10px;
    }
}

/*medium screen*/
@media (min-width:992px) and (max-width:1199px){
    .new_feautre_body_data {
        padding-bottom: 100px;
    }
    .section_des {
        font-size: 20px;
    }
    .section_descr {
        font-size: 12px;
    }
    .new_desgin_caption_image {
        width: 500px;
    }
    .client-descripation {
        font-size: 12px;
    }
    .client_image div img {
        width: 80px;
    }
    .client-box {
        margin-left: 85px;
    }
    .new_feature_site img {
        width: 500px;
    }
    .try_body {
        padding-top: 50px;
    }
}

@media (min-width:1200px)and (max-width:1365px){
    .section_descr {
        font-size: 12px;
    }
    .new_desgin_caption_image {
        width: 500px;
    }
    .client_image div img {
        width: 100px;
    }
    .new_feature_site img {
        width: 500px;
    }
}


