body {
    overflow-x: hidden; 
}
.red {
    color: rgb(254, 108, 108);
}
/* header start */
header {
    background-image: url("../image/header_image.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_contain{
    padding-top: 100px;
}
.header_contain samp {
    font-size: 28px;
    color: rgb(140, 141, 146);
}
.header_contain div {
    margin-top: 30px;
}
.trynow {
    background-color: rgb(212, 35, 35);
    border-color: rgb(212, 35, 35);
    font-size: 20px !important;
    width: 130px;
    color: white !important;
    height: 40px;
}
.trynow:hover {
    cursor: pointer;
    background-color: rgb(63, 9, 9);
    border-color: rgb(63, 9, 9);
}
/* header end */

/* New Desgin start */
.new_desgin_left {
    height: 500px;
}
.new_desgin_image {
    height: 500px;
    width: 550px;
}
.new_desgin_left_body {
    margin-left: 15%;
    margin-top: 80px;
}
.section_des {
    font-size: 30px;
    color: black;
}
.section_descr {
    margin-top: 20px;
}
/* New Desgin end */

/* New Feautre start */ 
.new_feautre_body_data {
    margin-top: 50px;
    color: black;
    padding-bottom: 180px;
}
.icon_descr {
    color: rgb(97, 96, 96);
    font-size: 12px;
}
/* New Feautre end */

/* New Desgin Resbonsive start */
#new_desgin_res {
    width: 100%;
}
.new_desgin_back_ground {
    width: 100% !important;
}
.new_desgin_caption_image {
    float: left;
    margin-left: -80px;
    padding-right: 50px;
}
.new_feautre_res_body {
    text-align: left;
    margin-top: 50px;
}
.new_feautre_res_body .section_descr {
    color: rgb(90, 88, 88);
}
/* New Desgin Resbonsive end */