body {
    overflow-x: hidden; 
}
.red {
    color: rgb(254, 108, 108);
}
.underline {
    text-decoration: underline;
}
.carousel-inner {
    overflow: visible;
}
/* header start */
header {
    background-image: url("../image/header_image.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_contain{
    padding-top: 100px;
}
.header_contain samp {
    font-size: 28px;
    color: rgb(140, 141, 146);
}
.header_contain div {
    margin-top: 30px;
}
.trynow {
    background-color: rgb(212, 35, 35);
    border-color: rgb(212, 35, 35);
    font-size: 20px !important;
    width: 130px;
    color: white !important;
    height: 40px;
}
.trynow:hover {
    cursor: pointer;
    background-color: rgb(63, 9, 9);
    border-color: rgb(63, 9, 9);
}
/* header end */

/* New Desgin start */
.new_desgin_left {
    height: 500px;
}
.new_desgin_image {
    height: 500px;
    width: 550px;
}
.new_desgin_left_body {
    margin-left: 15%;
    margin-top: 80px;
}
.section_des {
    font-size: 30px;
    color: black;
}
.section_descr {
    margin-top: 20px;
}
/* New Desgin end */

/* New Feautre start */ 
.new_feautre_body_data {
    margin-top: 50px;
    color: black;
    padding-bottom: 180px;
}
.icon_descr {
    color: rgb(97, 96, 96);
    font-size: 12px;
}
/* New Feautre end */

/* New Desgin Resbonsive start */
#new_desgin_res {
    width: 100%;
}
.new_desgin_back_ground {
    width: 100% !important;
}
.new_desgin_caption_image {
    float: left;
    margin-left: -80px;
    padding-right: 50px;
}
.new_feautre_res_body {
    text-align: left;
    margin-top: 50px;
}
.new_feautre_res_body .section_descr {
    color: rgb(90, 88, 88);
}
/* New Desgin Resbonsive end */

/* client start */
.client-box {
    width: 50px;
    height: 50px;
    background-color: rgb(11, 11, 29);
    margin-left: 118px;
}
.client-box:hover {
    background-color: rgb(29, 28, 100);
    cursor: pointer;
}
.client-descripation {
    color: rgb(99, 96, 96);
    padding-top: 10px;

}
.client_name{
    padding-top: 20px;
}
.client_image {
    margin-top: 50px;
    padding-bottom: 50px;
}
.client_image div img {
    margin-left: 50px;
}
/* client end */

/* new feautre start */
.new_feautre_second .section_title {
    font-size: 20px;
    margin-top: 50px;
}
.new_feautre_second .section_des {
    font-size: 25px;
}
.new_feautre_second .section_desc {
    color: rgb(80, 79, 79);
    font-size: 15px;
}
/* new feautre end */

/* try start */ 
#try .section_des {
    color: white;
}
input {
    padding-left: 20px;
    border: 1px solid white;
    background-color: rgb(28, 28, 60);
    color: white;
}
.trynow_ {
    padding-right: 20px;
}
.trynow_:hover {
    cursor: pointer;
    background-color: rgb(34, 24, 124);
}
.try_body {
    padding-bottom: 70px;
    padding-top: 100px;
}
.free {
    margin-left: 40%;
    padding-bottom: 20px;
}
/* try end */ 

/* footer */
.footer_cloumn_title {
    color: black;
    font-size: 23px;
    font-weight: 500;
    text-align: left;
}
.footer_cloumn_dec {
    color: rgb(65, 63, 63);
    font-size: 12px;
    text-align: left;
}
ul {
    list-style-type: none;
    text-align: left;
    margin-left: -34px;
}
footer ul li {
    padding-top: 10px;
}
footer ul li a {
    color: rgb(65, 63, 63);
    
}
.footer_cloumn_dec .email {
    margin-top: 30px;
    height: 50px;
    background-color: rgb(190, 195, 199);
    border-color: rgb(50, 51, 51);
    color: rgb(50, 51, 51);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}
.footer-mail:hover {
    cursor: pointer;
}
.footer_icon {
    margin-top: 10px;
    margin-left: 40px;
}